# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Ignore the file that contains the secret key
.env

# Other
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.iml
