{% extends "main_allauth.html" %}
{% load i18n allauth account %}

{% block title %}Password Reset - SB Admin{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">{% trans "Password Reset" %}</h3>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder.{% endblocktrans %}</p>
                <div class="d-grid">
                    <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg mt-3 get-started-btn">{% trans "Remember password? Go to sign in" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
